{% extends 'base.html.twig' %}

{% block title %}Routes des pays - countryApi{% endblock %}

{% block body %}

<div class="jumbotron">
    <h1 class="display-4 text-center mb-5">Routes liées au pays</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</tH>
                <th scope="col">desc.</th>
                <th scope="col">liens rapide</tH>
            </tr>
        </thead>
        <tbody>
            {% set i=1 %}
            {% for endpoint in endpointsCity %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ endpoint.description }}</td>
                <td><a href="{{ endpoint.endpoint }}">{{endpoint.endpoint}}</a></td>
            </tr>
            {% set i=i+1 %}
            {% endfor %}

        </tbody>
    </table>


  </div>

</div>

{% endblock %}
