{% extends 'base.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
    <h1>Edit City</h1>
    <a class="btn btn-primary" href="{{ path('app_back_city_index') }}">back to list</a>
   <p>
    {{ include('back/city/_form.html.twig', {'button_label': 'Update'}) }}

   </p>


    <p>
        Attention, vous pouvez supprimer définitivement cette entrée !
    </p>
    {{ include('back/city/_delete_form.html.twig') }}

    <script src="{{ asset('js/departments.js') }}"></script> 

{% endblock %}
