{% extends 'base.html.twig' %}

{% block title %}New Endpoint{% endblock %}

{% block body %}
    <h1>Create new Endpoint</h1>

    {{ include('back/endpoint/_form.html.twig') }}

    <a href="{{ path('app_back_endpoint_index') }}">back to list</a>
{% endblock %}
